@import url('https://fonts.googleapis.com/css?family=Oswald|Hind Madurai');
body{
    background-image: url('pexels-splitshire-1526.jpg');
    background-size: cover;
    
}
.customize{
    font-size: 50px;
    display: inline;
    font-family: 'Oswald';
    color: white;
    padding: 10px;
}

.div1{
    margin-left: 30px;
    margin-top: 40px;
}
.para1{
font-family: 'Hind Madurai';
font-size: 16px;
color: white;
margin-left: 73px;
margin-top: -11px;
}
.div2{
    background-color:rgb(158,153,132) ;
    height:300px ;
    width:500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}
.para2{
    font-size: 40px;
    padding-left: 70px;
    padding-right: 70px;
    color: white;
    font-family: 'Hind Madurai';
    line-height: 40px;
    margin-left: 10px;
    padding-top: 50px;
}
.para3{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
    padding-left: 90px;
    padding-right:100px;
    margin-left:-10px ;
    margin-top: -30px;
}
.img1{
    height:50px ;
    width:90px ;
    margin-left: 1430px;
    margin-top: 160px;
   
}
